*{
    margin: 0%;
    padding: 0%;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* SECTION-1 */
.bg-img{
    background-image: url("Image/beach.jpg")   ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    top: 0%;
}
.section-1{
    width: 100%;
    height: 100vh;
    font-family: 'Prompt', Arial, sans-serif;
    color: white;
}
nav{
    font-size: 18px;
    /* -top: 25px; */
    height: 70px;
    background-color: rgba(26, 34, 48, 0.712);
    display: flex;
    justify-content:center;
    align-items: center;
}
nav::before{
    content: "";
    position: absolute;
    background-color: black;
    background-color: rgb(12, 59, 90);
    top: 0%;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    z-index: -2;
}
nav .fa{
    display: none;
}
nav ul{
    display: flex;
    margin-left: 270px;
}
nav ul li{
    list-style: none;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:white;
    border-bottom: 3.5px solid rgba(26, 34, 48, 0);
    padding: 0 8px;
    padding-bottom: 21px;
    transition: 0.2s;
}
nav a:hover{
    color: rgb(90,207,155);
    border-bottom: 3.5px solid rgb(90,207,155);
}
.logo{
    cursor: pointer;
    position: absolute;
    left: 294px;
    animation: fairy 1.5s linear infinite;
}
@keyframes fairy{
    100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-2px);
    }
}
.first-writings{
    text-align: center;
    margin-top: 230px;
}
.first-writings h1{
    font-family: 'Courgette', cursive;
    font-size: 82px;
    margin-bottom: 15px;
}
.first-writings p{
    font-size: 23px;
    margin-bottom: 30px ;
}

.buttons a{
    padding: 13px 25px;
    border-radius: 20px;
    border: none; 
    cursor: pointer;  
    text-decoration: none;
    color: white;   
    font-weight: bold;
    margin: auto 10px;
}
.buttons #btn-1{
    background-color: rgb(38, 187, 192);
    /* background-color: rgb(90,207,155); */
    transition: 0.2s;
}
.buttons #btn-1:hover{
    background-color:  rgb(1, 73, 73);

}
.buttons #btn-2{
    background-color: rgb(38, 187, 192);
    transition: 0.2s;
}
.buttons #btn-2:hover{
    background-color:  rgb(3, 107, 121);
}

/* SECTION-2 */
.section-2{
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding-bottom: 60px;   
}
.section-2 h1{
    padding: 80px 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: rgb(100,118,137);
}
.section-2 .ft-1{
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}
.section-2 .ft-2{
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}

/* SECTION-3 */
.section-3{
    display: flex;
    padding: 60px 30px;
}
.section-3 img{
    flex-basis: 50%;
}
.section-3 .about-me{
    flex-basis: 50%;
    padding: 0px 90px;
    padding-top: 50px;
}
.section-3 h1{
    color: rgb(100,118,137);
    font-size: 40px;
    padding: 20px 0;font-weight: bolder;
    font-family: poppins;
}
.section-3 p{
    font-size: 20px;
    color: rgb(100,118,137);
    margin-bottom: 37px;
}

#pod-btn{
    margin-top: 20px;
    background-color: rgb(96, 212, 150);
    transition: 0.2s;
}
#pod-btn:hover{
    background-color: rgb(80, 189, 131);
}

/* SECTION-4 */

.section-4{
    text-align: center;
    width: 100%;
    height: 110vh;
    position: relative;
}
.fix-img{
    background-image: url("Image/castle.jpg")  ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 110vh;
    opacity: 0.5;
    z-index: -1;
    top: 0%;
    position: absolute;
}
.section-4 .mentor-camp{
    /* padding: 140px 0; */
    padding-top: 150px;
}
.section-4 .mentor-camp::before{
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.7;
    top: 0%;
    height: 110vh;
    width: 100%;
    left: 0%;
    z-index: -2;
}

.mentor-camp h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
    border-bottom: 2px solid black;
    width: 25%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.mentor-camp p{
    text-align: center;
    font-size: 21px;
    margin: auto;
    width: 56%;
    margin-bottom: 50px;
    color: white;
}
.mentor-camp #onlineC{
    color: rgb(96, 212, 150);
    font-size: 25px;
    margin-bottom: 20px;

}
#learnM-btn{
    background-color: rgb(96, 212, 150);
    transition: 0.2s;
}
#learnM-btn:hover{
    background-color: rgb(80, 189, 131);
}
/* SECTION-5 */

.section-5{

    height: 93vh;
    width: 100%;
    text-align: center;
    position: relative;
}
.section-5 .poster-bg{
    background-color: rgb(255, 202, 202);
    height: 93vh;
    width: 85%;
    margin: auto;
}
.section-5 .video-1{
    margin-bottom: 7px;
}

.section-5 .total-videos{
    z-index: 1;
    position: absolute;
    top: -190px;
}

.section-5 .border-div{
    position: absolute;
    background-color: black;
    width: 68%;
    height: 370px;
    z-index: -1;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);    
}

/* SECTION-6 */
.section-6{
    margin-bottom: 80px;
}
.story-pt1{
    display: flex;
}
.section-6 .stories{
    flex-basis: 50%;
    padding: 0px 50px;
    margin-top: 55px;
}
.section-6 .stories-img{
    flex-basis: 50%;
}
.section-6 h1{
    color: rgb(100,118,137);
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;

}
.section-6 p{
    color: rgb(80, 189, 131);
    font-size: 20px;
    font-family:poppins;
}
.section-6 #stories-p , #stories-p2{
   color: rgb(100,118,137);
   padding-top: 15px;
   font-family: 'Calibri', 'Trebuchet MS', sans-serif;
   font-weight: normal;
}
.section-6 #stories-p2{
    padding: 12px 50px;
}
/* Section-6 Button */

.section-6 .hola{
    margin-top: 25px;
    text-align: center;
}
#learnM-btn2{
    background-color: rgb(96, 212, 150);
    text-align: center;
    transition: 0.2s;
}
#learnM-btn2:hover{
    background-color: rgb(80, 189, 131);
}

/* FOOTER */

footer{
    background-color: rgb(26,34,48);
    color: white;
    text-align: center;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links .bi{
    cursor: pointer;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    transition: 0.5s;
}
.social-links .bi:hover{
    transform: scale(0.9);
}
.social-links p{
    margin-top: 20px;
}